.filterDiv {

    display: none;
  }

  .show {
    display: block;
  }

  /* .profile-container {
    position: relative;
    width: 50%;
  }
  
  .profile-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .profile-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .profile-container:hover .profile-image {
    opacity: 0.3;
  }
  
  .profile-container:hover .profile-middle {
    opacity: 1;
  }
  
  .profile-text {
    color: black;
    font-size: 20px;
    padding: 16px 32px;
  } */

  .profile-container {
    position: relative;
    width: 50%;
    
}

.profile-image {
    display: block;
    width: 100%;
    height: auto;
}

.profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.profile-container:hover .profile-overlay {
    opacity: 0.5;
}

.profile-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}